<h1>BookmarkletExcercise</h1>

<p>Drag any of the links below into your bookmark bar.</p>

<p>
<%= link_to "FooBaz Insert", bookmarklet_js('foobaz_insertion_bookmarklet.js') %>
</p>

<p>
<%= link_to "FooBaz XDM", bookmarklet_js('foobaz_xdm_bookmarklet.js') %>
</p>
