<p>
<%= link_to_function "Some other thing", "document.body.appendChild(document.createTextNode('testing '))" %>
</p>
This is the fvbiframe producer.

<%= link_to_function "Close", "fvbiframe_producer.closeFrame()" %>
