<!DOCTYPE html>
<html>
<head>
<title><%= name.titleize %> Producer</title>
  <%%= csrf_meta_tags %>
</head>
<body>

<%%= yield %>

<%%= javascript_include_tag "<%= name %>_producer" %>

</body>
</html>
